<h2>Products</h2>

<div *ngFor="let product of products">
  <div>
    <a [title]="product.name +' details'" [routerLink]="['/products',product.id]">{{product.name}}</a>
  </div>
  <!-- <h3>{{product.name}}</h3> -->
  <div *ngIf="product.description">
    Description: {{product.description}}
  </div>
  <button (click)="share(product)">Share</button>
  <div>
    <br />
    <div>
      <app-product-alert
        [product]="product"
        (notify)="(onNotify())"
      ></app-product-alert>
    </div>

    <br />
  </div>
</div>
<br />
<div *ngIf="cbr">
  <h1>show</h1>
  <h3>
    {{cbr.id}} || {{cbr.name}} || {{cbr.price}} || {{cbr.description}}
  </h3>
</div>
